USE [master]
GO
/****** Object:  Database [School]    Script Date: 9/26/2016 6:21:42 PM ******/
CREATE DATABASE [School]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\School.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\School_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 9/26/2016 6:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] NULL,
	[Name] [varchar](50) NOT NULL,
	[Max] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 9/26/2016 6:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] NULL,
	[Name] [varchar](50) NOT NULL,
	[Age] [int] NULL,
	[PhoneNumber] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 9/26/2016 6:21:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] NULL,
	[Name] [varchar](50) NULL,
	[Class] [varchar](50) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Classes] ([Id], [Name], [Max]) VALUES (2, N'Biology', 26)
INSERT [dbo].[Classes] ([Id], [Name], [Max]) VALUES (4, N'Informatics', 24)
INSERT [dbo].[Classes] ([Id], [Name], [Max]) VALUES (1, N'Maths', 25)
INSERT [dbo].[Students] ([Id], [Name], [Age], [PhoneNumber]) VALUES (1, N'Atanas', 14, N'0898999887')
INSERT [dbo].[Students] ([Id], [Name], [Age], [PhoneNumber]) VALUES (2, N'Stela', 13, N'0896456124')
INSERT [dbo].[Students] ([Id], [Name], [Age], [PhoneNumber]) VALUES (3, N'Zahari', 14, N'0887896531')
INSERT [dbo].[Teachers] ([Id], [Name], [Class]) VALUES (1, N'Nikola', N'Maths')
INSERT [dbo].[Teachers] ([Id], [Name], [Class]) VALUES (2, N'Hristo', N'Biology')
INSERT [dbo].[Teachers] ([Id], [Name], [Class]) VALUES (3, N'Ilyana', N'Physics')
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Classes] FOREIGN KEY([Class])
REFERENCES [dbo].[Classes] ([Name])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Classes]
GO
USE [master]
GO
